body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: 'Abel', sans-serif;
}

html {
    max-width: 800px;
}

body {
    background-color: #000;
}

.ember-application {
    background-color: #eee;
}

span.navbar-brand {
    width: 55%;
}

span.navbar-full {
    width: 75%;
}

.navbar img.navbar-brand{
    padding: 6px 12px 6px 18px;
}

.row-action-primary a {
    margin: 3px 0 !important;
}
.row-action-added {
    min-width: 58px;
}

.row-action-added h3 {
    margin-top: 10px;
}
.row-action-added a {
    background-color: green !important;
    color: white !important;
}

.row-action-removed a {
    background-color: #DB3C39 !important;
    color: white !important;
}

.mapimage {
    width: 100%;
}

.maplink {
    display: block;
    min-height: 180px;
}

.list-group .list-group-item-heading h2 {
    margin-top: 10px;
}

.list-group .list-group-item-heading h2 img {
    display: inline;
}

.event-list {
    margin-top: 20px;
}

input.input-heading {
    font-size: 30px;
    margin: 10px 0 12px;
}

textarea.desc-textarea {
    font-size: 14px;
}

#memberlist .list-group-item-heading {
    margin: 19px 0;
}

#memberlist .btn-removeConfirm {
    opacity: 0.3;
}

#memberlist .least-content {
    padding: 16px 0;
}

.least-content {
    width: 35px;
    text-align: center;
    font-size: 10px !important;
}

.list-group-bellowheading {
    margin-top: -10px;
}

.list-group-left {
    float: left;
    width: 49%;
    opacity: 0.6;
}
.list-group-right {
    float: right;
    width: 49%;
    text-align: right;
    opacity: 0.6;
}


.form-control {
    font-size: 20px;
}
.form-control-20 {
    width: 20% !important;
    margin: 0 2% 0 0 !important;
    float: left !important;
}

.form-control-80 {
    width: 78% !important;
    float: left;
}

.form-control-noborder {
    background-image: none !important;
}

@media only screen and (max-width: 480px) {
    .form-control-20 {
        width: 35% !important;
    }
    .form-control-80 {
        width: 63% !important;
    }
}
@media only screen and (max-width: 320px) {
    .least-content {
        display: none;
    }
}

.use-template {
    float: left;
    margin-right: 1em;
    padding: 10px;
}

#itemActionButtons {
    position: absolute;
    top: 80px;
    right: 20px;
}

.h3mini {
    font-size: 10px;
}

.h3mini input {
    font-size: 24px;
    width: 45px;
    display: inline;
}

.list-group-item[data-canceled='1'] .list-group-item-heading {
    text-decoration: line-through;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    margin-bottom: 10px !important;
}
.navbar-header {
    width: 100%;
}
.navbar .navbar-right {
    margin: 5px 5px 5px 0;
    padding: 10px 6px 10px 0;
    float: right;
}

.navbar-left {
    margin-top: 3px;
    float: left;
}

.event-detail, .event-detail {
    margin-top: -10px;
}

.event-detail .jumbotron {
    position: relative;
    z-index: 2;
}

body:before{
    display: block;
    content: " ";
    height: 20px;
    top: 0;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
}

.navbar-info.navbar{
    background-color:#333 !important;
}
.weather {
    margin: 15px 0 -5px;
}
.weather img {
    float: left;
    margin: 0 5px 0 10px;
    height: 42px;
}

.weatherDescription {
    font-size: 10px;
}
.condIcon i {
    font-size: 33px;
    margin: 0 5px 0 30px;

}
.weather .temp_img img {
    height: 32px;
}

.weatherWindSpeed .wws_text {
    font-size: 10px;
    float: left;
    padding-top: 11px;
}
.weatherWindSpeed .wws_fig {
    font-size: 33px;
    display: block;
    float: left;
    margin: 0 5px 0 30px;
}

.temperature {
    font-size: 33px;
}

.list-group-item-text {
    color: #757575;
}

.weather div {
    float: left;
}

.clear {
    clear: both;
}

.RemoveDiv, .CancelDiv {
    display: none;
}

.navbar a, .removeConfirm, .pointer {
    cursor: pointer;
}

#copyright {
    opacity: 0.3;
}

.event-private {
    opacity: 0.3;
}

.radio label {
    padding-left: 0;
}

.forminfologo {
    float: left;
    margin: 5px 4px 0 -4px;
}

.sharebutton {
    position: absolute;
    right: 20px;
    top: 80px;
}

.lineupbutton {
    position: absolute;
    left: 20px;
    top: 80px;
}

.detail-counter {
    margin-top: -16px;
}
.detail-counter h3 {
    padding: 0;
    margin: 0;
}

.form-naked {
    padding: 20px;
}

.pitch {
    width: 100%;
    padding: 0 5px
}

.pitch img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.lineup .player {
    cursor: pointer;
    position: absolute;
    padding: 5px 6px 5px 12px;
    margin: 0;
    width: 120px;
    height: 30px;
    overflow: hidden;
    background: url(/favicons/dragable-handle.png) no-repeat;
    z-index: 90;
    cursor: move;
    opacity: 0.9;
}

.player.sub {
    background-color: grey !important;
    opacity: 0.8;
    z-index: 89;
}

small.subline {
    top: -23px;
    position: relative;
    opacity: 0.3;
}

.row-action-goals {
    display: none;
}

.goalActions {
    text-decoration: none;
    cursor: pointer;
}

.goalActions span {
    position: relative;
    font-weight: bold;
    font-size: 10px;
    display:inline-block;
}

.goalActions span.goals {
    color: black;
    top: 15px;
    left: -1px;
}

.goalActions span.topaction {
    visibility: hidden;
    top: -13px;
    left: -5px;
    color: red;
}

.goalActions:hover span.topaction {
    visibility: visible;
}

.addGoal {
    opacity: 0.5;
}

.addGoal span.topaction {
    color: green;
    left: -3px;
}

.endscore {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.endscore h1 {
    font-size: 120px;
    font-weight: bold;
}


input#input-score {
    font-size: 120px;
    width: 100%;
    display: inline;
    height: auto;
    text-align: center;
    font-weight: bold;
}

.leagueframe {
    width: 100%;
    height: 800px;
    max-width: 763px;
    border: 0;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        margin: 0!important;
        padding: 0 !important;
    }
}


@media print {
    #memberlist .list-group-item {
        width: 32%;
        float: left;
    }

    .lineupbutton,
    .sharebutton,
    .navbar-info,
    #memberlist .addMember,
    #memberlist .playerAddInfo,
    #memberlist .least-content {
        display: none;
    }


}

.event-list .ended {
    opacity: 0.2;
}

.right {
    text-align: right;
}
.input-group-addon {
    padding: 6px 0px 6px 12px;
}

.specialcontent {
    background-color: white;
}

.specialcontent .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.specialcontent .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.specialcontent img {
    width: 100%;
    height: auto;
}

.specialcontent {
    text-align: center;
}
.specialcontent a {
    font-weight: bold;
}

.progress .progress-bar-info {
    background-color: #777;
}

body .progress .progress-bar {
    background-color: #000;
}

body .progress .progress-bar-info {
    background-color: #777;
}

body .progress .progress-bar-danger {
    background-color: #DB3C39;
}


body .form-control {
    border: 0;
    background-image: linear-gradient(#000,#999),linear-gradient(#000,#999);
}


.form-control:focus, .form-control.focus {
    outline: none;
    background-image: linear-gradient(#DB3C39,#DB3C39),linear-gradient(#DB3C39,#DB3C39);
}

.form-group .form-control:focus, .form-group-default .form-control:focus {
    background-image: linear-gradient(#DB3C39,#DB3C39),linear-gradient(#DB3C39,#DB3C39);
}


.btn-success:not(.btn-link):not(.btn-flat) {
    background-color: #DB3C39;
    color: #fff;
}


.addMember {
    margin: 32px 0;
}


.inactive {
    opacity: 0.3;
}
