html {
    max-width: 800px;
}

body {
    background-color: #D32F2F;
}

.ember-application {
    background-color: #eee;
}

span.navbar-brand {
    width: 55%;
}

span.navbar-full {
    width: 75%;
}

.row-action-primary a {
    margin: 3px 0 !important;
}
.row-action-added {
    min-width: 58px;
}

.row-action-added h3 {
    margin-top: 10px;
}
.row-action-added a {
    background-color: green !important;
    color: white !important;
}

.row-action-removed a {
    background-color: red !important;
    color: white !important;
}

.mapimage {
    width: 100%;
}

.list-group .list-group-item-heading h2 {
    margin-top: 10px;
}

.event-list {
    margin-top: 20px;
}

input.input-heading {
    font-size: 30px;
    margin: 10px 0 12px;
}

textarea.desc-textarea {
    font-size: 14px;
}

#memberlist .list-group-item-heading {
    margin: 19px 0;
}

#memberlist .btn-removeConfirm {
    opacity: 0.3;
}

#memberlist .least-content {
    padding: 16px 0;
}

.least-content {
    width: 35px;
    text-align: center;
    font-size: 10px !important;
}

.list-group-bellowheading {
    margin-top: -10px;
}

.list-group-left {
    float: left;
    width: 49%;
    opacity: 0.6;
}
.list-group-right {
    float: right;
    width: 49%;
    text-align: right;
    opacity: 0.6;
}

.form-control {
    font-size: 20px;
}
.form-control-20 {
    width: 20% !important;
    margin: 0 2% 0 0 !important;
    float: left !important;
}

.form-control-80 {
    width: 78% !important;
    float: left;
}

@media only screen and (max-width: 480px) {
    .form-control-20 {
        width: 35% !important;
    }
    .form-control-80 {
        width: 63% !important;
    }
}
@media only screen and (max-width: 320px) {
    .least-content {
        display: none;
    }
}

#itemActionButtons {
    position: absolute;
    top: 80px;
    right: 20px;
}

.h3mini {
    font-size: 10px;
}

.h3mini input {
    font-size: 24px;
    width: 45px;
    display: inline;
}

.list-group-item[data-canceled='1'] .list-group-item-heading {
    text-decoration: line-through;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    margin-bottom: 10px !important;
}
.navbar-header {
    width: 100%;
}
.navbar .navbar-right {
    margin: 5px 5px 5px 0;
    padding: 10px 15px 10px 0;
    float: right;
}

.navbar-left {
    margin-top: 3px;
    float: left;
}

.event-detail, .event-detail {
    margin-top: -10px;
}

.event-detail .jumbotron {
    position: relative;
    z-index: 2;
}

body:before{
    display: block;
    content: " ";
    height: 20px;
    top: 0;
    background-color: #D32F2F;
    position: -webkit-sticky;
    position: sticky;
}

.navbar-info.navbar{
    background-color:#F44336 !important;
}
.weather {
    margin: 15px 0 -5px;
}
.weather img {
    float: left;
    margin: 0 5px 0 10px;
    height: 42px;
}

.weatherDescription {
    font-size: 10px;
}
.condIcon i {
    font-size: 33px;
    margin: 0 5px 0 30px;

}
.weather .temp_img img {
    height: 32px;
}

.weatherWindSpeed .wws_text {
    font-size: 10px;
    float: left;
    padding-top: 11px;
}
.weatherWindSpeed .wws_fig {
    font-size: 33px;
    display: block;
    float: left;
    margin: 0 5px 0 30px;
}

.temperature {
    font-size: 33px;
}

.list-group-item-text {
    color: #757575;
}

.weather div {
    float: left;
}

.clear {
    clear: both;
}

.RemoveDiv, .CancelDiv {
    display: none;
}

.navbar a, .removeConfirm, .pointer {
    cursor: pointer;
}

#copyright {
    opacity: 0.3;
}

.event-private {
    opacity: 0.3;
}

.radio label {
    padding-left: 0;
}

.forminfologo {
    float: left;
    margin: 5px 4px 0 -4px;
}

.sharebutton {
    position: absolute;
    right: 20px;
    top: 80px;
}

.lineupbutton {
    position: absolute;
    left: 20px;
    top: 80px;
}

.detail-counter {
    margin-top: -16px;
}
.detail-counter h3 {
    padding: 0;
    margin: 0;
}

.form-naked {
    padding: 20px;
}

.pitch {
    width: 100%;
    padding: 0 5px
}

.pitch img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.lineup .player {
    cursor: pointer;
    position: absolute;
    padding: 5px 6px 5px 12px;
    margin: 0;
    width: 120px;
    height: 30px;
    overflow: hidden;
    background: url(/icons/dragable-handle.png) no-repeat;
    z-index: 90;
    cursor: move;
    opacity: 0.9;
}

.player.sub {
    background-color: grey !important;
    opacity: 0.8;
    z-index: 89;
}

small.subline {
    top: -23px;
    position: relative;
    opacity: 0.3;
}