
<!-- use normal outlet to skip liquid fire -->
{{#liquid-outlet}}{{/liquid-outlet}}
<div class="container" id="copyright">
    <p class="text-muted">&copy; 2015-2018 FCXB 07 - <a href="https://www.facebook.com/fcxb07/info?tab=page_info">Impressum</a></p>
</div>
