<div class="navbar navbar-info">
    <div class="navbar-header">
        {{#link-to 'events' class="navbar-brand navbar-left"}}
        <i class="mdi-navigation-arrow-back"></i>
        <div class="ripple-wrapper"></div>
        {{/link-to}}
        <span class="navbar-brand navbar-left ellipsis">THE LEAGUE</span>
    </div>
</div>
<div class="container">
    <iframe class="leagueframe" src="http://www.fussball.de/spieltag/freizeit-bezirksliga-st2-kf-bezirk-berlin-fz-bezirksliga-herren-saison1516-berlin/-/spieldatum/2016-01-11/staffel/01OMGMQC3K000006VV0AG813VTE8EEVV-G#!/section/stage"></iframe>
</div>